/*----------------------------------------------
Author : www.webthemez.com
License: Commons Attribution 3.0
http://creativecommons.org/licenses/by/3.0/
------------------------------------------------*/


/*----------------------------------------------
    COMMON  STYLES
------------------------------------------------*/
body {
    font-family: poppins,Arial,sans-serif;
}

.top-navbar{
margin:0px;
}
.top-navbar .navbar-brand {
  color: #fff;
  width: 500px;
  text-align: right;
  height: 60px;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}

table#banks a {
  width: 100%;
  text-align:center;
  vertical-align: middle;
  float: left;
  height: 60px;
}

table#banks a img {
  max-width: 200px;
  max-height: 60px;
  margin: auto;
  vertical-align: middle;
  display: inline-block;
}

table#banks td:hover a img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

table#banks td {
  border: 6px #FFFFFF solid;
}

.top-navbar .navbar-brand span.brand {
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
}

.navbar-side {
	border:none;
	background-color: transparent;
}
.top-navbar {
	background: #55CBC8;
	border-bottom:none;

}
.navbar-header {
    background: #55CBC8;
    float: right;
}

/* ** BANK STYLES ** */
#overlayContainer {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

#resultContainer textarea {
  background-color: #555;
  color: #FFF;
}

#resultContainer textarea {
  width: 100%;
  min-height: 30rem;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.4rem;
  line-height: 1.2;
}

.form-header {
  height: 80px;
  margin-bottom: 30px;
}

.bank-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.background-bw {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.background-bw:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.galicia {
  background-image: url('https://onlinebanking.bancogalicia.com.ar/images/default/logo.svg');
  background-color: #FFFFFF;
}
.nacion {
  background-image: url('https://hb.redlink.com.ar/bna/entidades/banco.nacion.v2/vista/imagenes/login/logoBna.png');
  background-color: #0087AB;
}
.provincia {
  background-image: url('https://www.bancoprovincia.com.ar/images/isologo.jpg');
  background-color: #FFFFFF;
}
.icbc {
  background-image: url('https://www.accessbanking.com.ar/accstatic/i/ICBC_logoBU.png');
  background-color: #F8F8F8;
}
.citibank {
  background-image: url('https://www.privatebank.citibank.com/ivc/images/common/spritesheet.png');
  background-color: linear-gradient(180deg,#00bdf2,#00b3f0 18%,#0066b3 77%,#004985);
  }
.bbva {
  background-image: url('https://www.bbva.com.ar/fbin/mult/logo_bbva_blanco_tcm1303-788925.svg');
  background-color: #072146;
  }
.bancor {
  background-image: url('https://bancon.bancor.com.ar/frontend/themes/bancor/img/Logo-Bancor.png');
  background-color: #0E8A6C;
  }
.supervielle {
  background-image: url('https://personas.supervielle.com.ar/App_Themes/LoginNuevo/img/logo.svg');
  background-color: #FFFFFF;
  }
.ciudad {
  background-image: url('https://hb.redlink.com.ar/ciudad/entidades/banco.ciudad.v3/vista/imagenes/login/logo_bcba.png');
  background-color: #FFFFFF;
  }
.patagonia {
  background-image: url('https://ebankpersonas.bancopatagonia.com.ar/eBanking/images/HeaderLogoEbank.gif');
  background-color: #FFFFFF;
  }
.hipotecario {
  background-image: url('https://tercersector.org.ar/wp-content/uploads/2018/07/1280px-Logo_Banco_Hipotecario.svg_-640x349.png');
  background-color: #FFFFFF;
  }
.sanjuan {
  background-image: url('https://hb.redlink.com.ar/bsj/entidades/banco.sanjuan.v5/vista/imagenes/login/logo.gif');
  background-color: #f8bb00;
  }
.tucuman {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtxiVlUaYxVWH2lTmAdcrXW3TIsmN6Jn36phInX5VxaLBmYTVk');
  background-color: #0193CF;
  }
.rosario {
  background-image: url('https://hb.redlink.com.ar/bmros/entidades/banco.bmros.v2/vista/imagenes/login/logo.gif');
  background-color: #B42938;
  background-position: center;
  background-repeat: no-repeat;
}
.santander {
  background-image: url('https://www2.personas.santander.com.ar/obp-webapp/angular/client/app/common/images/logos-topbar/logos-rojos/desktop-sr.svg');
  background-color: #FFFFFF;
  }
.chubut {
  background-image: url('https://www.bancochubut.com.ar/bundles/web/images/isologo.png');
  background-color: #FFFFFF;
  }
.santacruz {
  background-image: url('https://hb.redlink.com.ar/bancosantacruz/entidades/banco.santacruz.v5/vista/imagenes/login/logo.png');
  background-color: #006CB7;
  }
.lapampa {
  background-image: url('https://hb.redlink.com.ar/bancodelapampa/entidades/banco.lapampa.v2/vista/imagenes/login/logoBna.png');
  background-color: #E6E6E6;
  }
.corrientes {
  background-image: url('https://hb.redlink.com.ar/bancodecorrientes/entidades/banco.corrientes/vista/imagenes/login/logo.gif');
  background-color: #FFFFFF;
  }
.neuquen {
  background-image: url('https://hb.redlink.com.ar/bpn/entidades/banco.bpn.v2/vista/imagenes/login/logo.png');
  background-color: #0082CA;
  }
.hsbc {
  background-image: url('https://www.hsbc.com.ar/content/dam/hsbc/us/images/HSBC_MASTERBRAND_LOGO_RGB.svg');
  background-color: #FFFFFF;
  }
.credicoop {
  background-image: url('https://bancainternet.bancocredicoop.coop/bcclbi/images/logo.jpg');
  background-color: #FFFFFF;
  }
.valores {
  background-image: url('https://e.bancodevalores.com/bcovalores/App_Themes/Valores/assets/logo-login.png');
  background-color: #FFFFFF;
  }
.roela {
  background-image: url('https://hb.redlink.com.ar/bancoroela/entidades/banco.roela/vista/imagenes/login/logo.gif');
  background-color: ;
  }
.mariva {
  background-image: url('https://hb.redlink.com.ar/mariva/entidades/banco.mariva/vista/imagenes/login/logo.gif');
  background-color: ;
  }
.itau {
  background-image: url('https://internet.itau.com.ar/internet/images/logoHB.png');
  background-color: #F57921;
  }
.boamerica {
  background-image: url('https://www2.bac-assets.com/homepage/spa-assets/images/assets-images-global-logos-bac-logo-v2-CSX3648cbbb.svg');
  background-color: #FFFFFF;
  }
.tierradelfuego {
  background-image: url('https://hb.redlink.com.ar/btf/entidades/banco.tierradelfuego.v2/vista/imagenes/login/logoCiudad.png');
  background-color: #003651;
  }
.brou {
  background-image: url('https://www.canales.brou.com.uy/eBanking/images/HB/header_logo.gif');
  background-color: ;
  }
.saenz {
  background-image: url('https://hb.redlink.com.ar/bancosaenz/entidades/banco.saenz.v2/vista/imagenes/login/bancoSaenz.png');
  background-color: #005192;
  }
.meridian {
  background-image: url('https://hb.redlink.com.ar/bancomeridian/entidades/banco.meridian.v2/vista/imagenes/login/logoMeridian.png');
  background-color: #FFFFFF;
  }
.macro {
  background-image: url('https://www.macro.com.ar/imagen/logo-bm/logo-bm.svg');
  background-color: #0193CF;
  }
.comafi {
  background-image: url('https://hb.comafi.com.ar/homebank/jsp/resources/img/v2/logoComafiHome.gif');
  background-color: #FFFFFF;
  }
.piano {
  background-image: url('https://hb.redlink.com.ar/bancopiano/entidades/banco.piano.v2/vista/imagenes/login/logo.gif');
  background-color: #FFFFFF;
  }
.rioja {
  background-image: url('https://hb.redlink.com.ar/nblr/entidades/banco.nblr.v2/vista/imagenes/login/logo.gif');
  background-color: #FFFFFF;
  }
.bdsol {
  background-image: url('http://www.bdsol.com.ar/site/wp-content/themes/bdsol/img/banco-del-sol-logo.png');
  background-color: #D1DDF7;
  }
.chacho {
  background-image: url('https://hb.redlink.com.ar/nbch/entidades/banco.chaco/vista/imagenes/login/logo.gif');
  background-color: #FFFFFF;
  }
.voii {
  background-image: url('https://hb.redlink.com.ar/voii/entidades/banco.voii/vista/imagenes/login/logo.png');
  background-color: #4A2980;
  }
.formosa {
  background-image: url('https://hb.redlink.com.ar/bancodeformosa/entidades/banco.formosa/vista/imagenes/login/logo.gif');
  background-color: #FFFFFF;
  }
.cmf {
  background-image: url('https://bee.redlink.com.ar/cmf2/banco/producto/imagenes/common/logos/logo_200.gif');
  background-color: #0072CE;
  }
.santiago {
  background-image: url('https://hb.redlink.com.ar/bse/entidades/banco.bse.v2/vista/imagenes/login/logo.png');
  background-color: #005891;
  }
.industrial {
  background-image: url('https://id.bind.com.ar/cas/images/logo-banco-industrial.png');
  background-color: #FFFFFF;
  }
.santafe {
  background-image: url('https://hb.redlink.com.ar/bancobsf/entidades/banco.bsf.v5/vista/imagenes/login/logo.png');
  background-color: #0B6C30;
  }
.cetelem {
  background-image: url('https://portal.cetelem.com.ar/common/images/cetelem_logo.jpg');
  background-color: #FFFFFF;
  }
.bacs {
  background-image: url('https://accesoweb.bacs.com.ar/Images/login/logo.png');
  background-color: #FFFFFF;
  }
.masventas {
  background-image: url('https://hb.redlink.com.ar/bancomasventas/entidades/banco.masventas.v2/vista/imagenes/login/logo.png');
  background-color: #FFFFFF;
  }
.wilobank {
  background-image: url('https://banco.wilobank.com/wilobank/assets/images/logo.png');
  background-color: #2E4595;
  }
.bersa {
  background-image: url('https://hb.redlink.com.ar/bancoentrerios/entidades/banco.nbersa.v5/vista/imagenes/login/logo.png');
  background-color: #D6281F;
  }
.columbia {
  background-image: url('https://hbsrv.bancocolumbia.com.ar/images/logo.png');
  background-color: ;
  }
.bica {
  background-image: url('https://hb.redlink.com.ar/bancobica/entidades/banco.bica.v2/vista/imagenes/login/logoBica.png');
  background-color: ;
  }
.coinag {
  background-image: url('https://hb.redlink.com.ar/bancocoinag/entidades/banco.coinag/vista/imagenes/login/logo.gif');
  background-color: ;
  }
.comercio {
  background-image: url('https://bee.redlink.com.ar/bcocomercio/banco/producto/imagenes/common/logos/logo_200.gif');
  background-color: ;
  }
.efectivosi {
  background-image: url('https://efectivosionline.efectivosi.com.ar/images/logo.png');
  background-color: ;
  }
.fcafinanciera {
  background-image: url('http://www.fcafinanciera.com.ar/img/logofiat.jpg');
  background-color: ;
  }
.gpat {
  background-image: url('https://micuenta.gpat.com.ar/WebClientes/Content/images/logo_gpat.png');
  background-color: ;
  }
.psa {
  background-image: url('https://www.psafinance.com.ar/psa/images/ForegroundC_top.png');
  background-color: ;
  }
.finandino {
  background-image: url('https://hb.redlink.com.ar/finandino/entidades/banco.finandino/vista/imagenes/login/logo.gif');
  background-color: ;
  }
.regional {
  background-image: url('https://hb.redlink.com.ar/cccuenca/entidades/banco.cccuenca/vista/imagenes/login/logo.gif');
  background-color: ;
  }
